.container {
  display: flex;
}

.container p,
.container a {
  transition: 0.3s;
  font-size: 1.15rem;
  font-style: italic;
  opacity: 0.6;
}

.container a:hover {
  transition: 0.3s;
  opacity: 0.9;
}
